<% @experiences.each do |experience| %>
  <p>Name: <%= experience.name() %></p>
  <p>Description: <%= experience.description %></p>
  <p>visit_date: <%= experience.visit_date %></p>
  <hr />
<% end %>
