<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Love My World!</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <form class="" action="/destinations/index" method="post">
      <title>Love My World!</title>
      <h1>Love My World...</h1>
      <div class="world">
        <iframe src="https://giphy.com/embed/wa8uMtV7bmdGTGGmD7" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/nasa-history-nasa60th-nasahistory-wa8uMtV7bmdGTGGmD7"></a></p>
      </div>
      <p>Enter a destination or leave blank to see your current Bucket List:</p>
      <input type="text" name="destination" id="initial_input" destination="">
      <input type="submit" value="Go!">
      <!-- <p> <button type="submit">Go!</button> </p> -->
    </form>
  </body>
</html>
