<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Love My World!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div class="world">
        <iframe src="https://giphy.com/embed/wa8uMtV7bmdGTGGmD7" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/nasa-history-nasa60th-nasahistory-wa8uMtV7bmdGTGGmD7"></a></p>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
