<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Love My World!</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <section id="content">
      <%= yield %>
    </section>

  </body>
</html>
